// custom variable values
$dark: #002e75;

// import the functions & variables
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "dark": #0038a8,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import 'bootstrap/scss/bootstrap';


