// custom variable values
$dark: #002e75;

// import the functions & variables
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// custom theme colours
$custom-theme-colors: (
  "dark": #0038a8,
);

// merge the maps to add new theme colors
$theme-colors: map-merge($custom-theme-colors, $theme-colors);

// import bootstrap
@import 'bootstrap/scss/bootstrap';

.card-header button.btn-link {
  border: 0 !important;
  padding: 0 !important;
}

.card-header .section-day-date {
  padding: 0.375rem 0.75rem 0.375rem 0;
  font-weight: bold;
}

.card-body .item-label {
  padding: 0.25rem 0.5rem 0.25rem 0;
}


table.tours tr:hover {
  cursor: pointer
}
